<a href="https://colab.research.google.com/github/rodrigobertinii/UEFA_Champions_League/blob/main/UEFA_Champions_League_2016_2022_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# BANCO DE DADOS UEFA 2016 - 2022

https://www.kaggle.com/datasets/cbxkgl/uefa-champions-league-2016-2022-data/data

![image.png]()

Importação das bibliotecas

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# UEFA Champions League 2016-2022 Dataset

Este repositório contém dados detalhados sobre a **UEFA Champions League** de 2016 a 2022. O dataset abrange informações sobre times, jogadores, estádios, treinadores, partidas e mais. Abaixo estão as descrições de cada aba presente no dataset.

---

## **Teams (Times)**

Esta aba contém informações sobre os times que participaram da UEFA Champions League.

- **TEAM_NAME**: Nome oficial do time. **PK**
- **COUNTRY**: País de origem do time.
- **HOME_STADIUM**: Nome do estádio onde o time joga suas partidas em casa. **FK**

---

## **Stadiums (Estádios)**

Esta aba detalha os estádios dos times que participaram da UEFA Champions League.

- **NAME**: Nome do estádio. **PK**
- **CITY**: Cidade onde o estádio está localizado.
- **COUNTRY**: País onde o estádio se encontra.
- **CAPACITY**: Capacidade total do estádio, ou seja, o número máximo de pessoas que ele pode acomodar.

---

## **Players (Jogadores)**

Aqui estão os dados dos jogadores que participaram da competição.

- **PLAYER_ID**: Identificador único para cada jogador (ID). **PK**
- **FIRST_NAME**: Primeiro nome do jogador.
- **LAST_NAME**: Sobrenome do jogador.
- **NATIONALITY**: Nacionalidade do jogador (país de origem).
- **DOB**: Data de nascimento do jogador (formato: dia/mês/ano).
- **TEAM**: Nome do time para o qual o jogador joga. **FK**
- **JERSEY_NUMBER**: Número da camisa do jogador.
- **POSITION**: Posição que o jogador ocupa em campo.
- **HEIGHT**: Altura do jogador (em centímetros).
- **WEIGHT**: Peso do jogador (em quilogramas).
- **FOOT**: Pé com maior habilidade do jogador.

---

## **Managers (Treinadores)**

Esta aba contém as informações sobre os treinadores dos times.

- **FIRST_NAME**: Primeiro nome do treinador.
- **LAST_NAME**: Sobrenome do treinador. **PK**
- **NATIONALITY**: Nacionalidade do treinador.
- **DOB**: Data de nascimento do treinador (formato: dia/mês/ano).
- **TEAM**: Nome do time ao qual o treinador está associado. **FK**

---

## **Matches (Partidas)**

Nesta aba, você encontra os dados sobre as partidas da UEFA Champions League.

- **MATCH_ID**: Identificador único para cada partida. **PK**
- **SEASON**: Ano da temporada da UEFA Champions League.
- **DATE_TIME**: Data e hora em que o jogo ocorreu (formato: dia/mês/ano e hora).
- **HOME_TEAM**: Nome do time da casa (aquele que joga em seu estádio). **FK**
- **AWAY_TEAM**: Nome do time visitante (aquele que joga no estádio do time da casa). **FK**
- **STADIUM**: Nome do estádio onde a partida foi realizada. **FK**
- **HOME_TEAM_SCORE**: Número de gols marcados pelo time da casa.
- **AWAY_TEAM_SCORE**: Número de gols marcados pelo time visitante.
- **PENALTY_SHOOT_OUT**: Indica se a partida foi decidida por uma disputa de pênaltis.
- **ATTENDANCE**: Número de espectadores presentes no estádio durante a partida.

---

## **goals (Gols)**

Nesta aba, são armazenados os dados relacionados aos gols da UEFA Champions League.

- **GOAL_ID**: Identificador único para cada gol registrado **PK**.
- **MATCH_ID**: Identificador único de cada partida, associando o gol à partida correspondente. **PK**
- **PID**: Identificador do jogador que marcou o gol. **PK**
- **DURATION**: Momento do jogo (em minutos) em que o gol foi marcado, variando de 0 a 90 minutos.
- **ASSIST**: Jogador que deu a assistência para o gol. **PK**
- **GOAL_DESC**: Detalhe do gol

---

## **Team Logo (Logo dos Times)**

Nesta aba, encontra-se os logos de cada time participante da UEFA

- **LOGO_ID**: Identificador único para cada logo **PK**.
- **TEAM_NAME**: Nome do time o qual o logo é destinado **PK**
- **URL**: Endereço online no qual é possível visualizar o logo do time
---

Leitura de todas as abas da planilha UEFA Champions League 2016-2022

In [ ]:
 teams = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Projetos GitHub/UEFA Champions League 2016-2022 /UEFA Champions League 2016-2022 Data.xlsx', sheet_name='teams')
 stadiums = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Projetos GitHub/UEFA Champions League 2016-2022 /UEFA Champions League 2016-2022 Data.xlsx', sheet_name='stadiums')
 players = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Projetos GitHub/UEFA Champions League 2016-2022 /UEFA Champions League 2016-2022 Data.xlsx', sheet_name='players')
 managers = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Projetos GitHub/UEFA Champions League 2016-2022 /UEFA Champions League 2016-2022 Data.xlsx', sheet_name='managers')
 matches = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Projetos GitHub/UEFA Champions League 2016-2022 /UEFA Champions League 2016-2022 Data.xlsx', sheet_name='matches')
 goals = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Projetos GitHub/UEFA Champions League 2016-2022 /UEFA Champions League 2016-2022 Data.xlsx', sheet_name='goals')

Mostrar 4 linhas de teams

In [ ]:
teams.sample(4)

            TEAM_NAME     COUNTRY               HOME_STADIUM
35       FK Krasnodar      Russia          Krasnodar Stadium
30      Villarreal CF       Spain     Estadio de la Cerámica
50  Tottenham Hotspur     England  Tottenham Hotspur Stadium
65         Qarabağ FK  Azerbaijan            Qarabağ Stadium

Descobrir a quantidade de linhas e colunas de teams

In [ ]:
linhas, colunas = teams.shape
print(f'O banco de dados possui {linhas} linhas e {colunas} colunas')

O banco de dados possui 74 linhas e 3 colunas

Descobrir os nomes das colunas de teams

In [ ]:
teams.columns

Index(['TEAM_NAME', 'COUNTRY', 'HOME_STADIUM'], dtype='object')

Informações do tipo de dados de cada coluna

In [ ]:
teams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   TEAM_NAME     74 non-null     object
 1   COUNTRY       74 non-null     object
 2   HOME_STADIUM  74 non-null     object
dtypes: object(3)
memory usage: 1.9+ KB

Analisar se possui dados duplicados

In [ ]:
teams.duplicated().sum()

0

Analisar se possui dados vazios

In [ ]:
teams.isnull().sum()

TEAM_NAME       0
COUNTRY         0
HOME_STADIUM    0
dtype: int64

Mostrar 4 linhas de stadiums

In [ ]:
stadiums.sample(4)

              NAME        CITY   COUNTRY  CAPACITY
48    Nef Stadyumu    Istanbul    Turkey     52280
67     Celtic Park     Glasgow  Scotland     60832
38       RŽD-Arena      Moskva    Russia     27320
18  Etihad Stadium  Manchester   England     55097

Descobrir a quantidade de linhas e colunas de stadiums

In [ ]:
linhas, colunas = stadiums.shape
print(f'O banco de dados possui {linhas} linhas e {colunas} colunas')

O banco de dados possui 86 linhas e 4 colunas

Descobrir os nomes das colunas de stadiums

In [ ]:
stadiums.columns

Index(['NAME', 'CITY', 'COUNTRY', 'CAPACITY'], dtype='object')

Informações do tipo de dados de cada coluna

In [ ]:
stadiums.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86 entries, 0 to 85
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   NAME      86 non-null     object
 1   CITY      86 non-null     object
 2   COUNTRY   86 non-null     object
 3   CAPACITY  86 non-null     int64
dtypes: int64(1), object(3)
memory usage: 2.8+ KB

Analisar se possui dados duplicados

In [ ]:
stadiums.duplicated().sum()

0

Analisar se possui dados vazios

In [ ]:
stadiums.isnull().sum()

NAME        0
CITY        0
COUNTRY     0
CAPACITY    0
dtype: int64

Mostrar 4 linhas de players

In [ ]:
players.sample(4)

,PLAYER_ID,FIRST_NAME,LAST_NAME,NATIONALITY,DOB,TEAM,JERSEY_NUMBER,POSITION,HEIGHT,WEIGHT,FOOT
2137,ply1813,Charlie,Pérez,Spain,2002-06-07,Valencia CF,26.0,Goalkeeper,NaN,NaN,NaN
884,ply885,Neven,Đurasek,Croatia,1998-08-15,Shakhtar Donetsk,17.0,Midfielder,180.0,74.0,R
956,ply957,Arthur,Gomes,Brazil,1998-07-03,Sporting CP,33.0,Forward,174.0,68.0,R
1913,ply1589,Ibrahim,Mustapha,Ghana,2000-06-18,Crvena Zvezda,18.0,Forward,180.0,NaN,R

Descobrir a quantidade de linhas e colunas de players

In [ ]:
linhas, colunas = players.shape
print(f'O banco de dados possui {linhas} linhas e {colunas} colunas')

O banco de dados possui 2769 linhas e 11 colunas

Descobrir os nomes das colunas de players

In [ ]:
players.columns

Index(['PLAYER_ID', 'FIRST_NAME', 'LAST_NAME', 'NATIONALITY', 'DOB', 'TEAM',
       'JERSEY_NUMBER', 'POSITION', 'HEIGHT', 'WEIGHT', 'FOOT'],
      dtype='object')

Informações do tipo de dados de cada coluna

In [ ]:
players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2769 entries, 0 to 2768
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PLAYER_ID      2769 non-null   object
 1   FIRST_NAME     2597 non-null   object
 2   LAST_NAME      2769 non-null   object
 3   NATIONALITY    2769 non-null   object
 4   DOB            2755 non-null   datetime64[ns]
 5   TEAM           2330 non-null   object
 6   JERSEY_NUMBER  2453 non-null   float64
 7   POSITION       2769 non-null   object
 8   HEIGHT         2546 non-null   float64
 9   WEIGHT         2375 non-null   float64
 10  FOOT           2320 non-null   object
dtypes: datetime64[ns](1), float64(3), object(7)
memory usage: 238.1+ KB

Analisar se possui dados duplicados

In [ ]:
players.duplicated().sum()

0

Analisar se possui dados vazios

In [ ]:
players.isnull().sum()

PLAYER_ID          0
FIRST_NAME       172
LAST_NAME          0
NATIONALITY        0
DOB               14
TEAM             439
JERSEY_NUMBER    316
POSITION           0
HEIGHT           223
WEIGHT           394
FOOT             449
dtype: int64

Remover todas as linhas onde o nome do time esta vazio. Não é importante para a analise dados de jogadores que não foi apoontado o time em qual atua ou atuava.

In [ ]:
players = players.dropna(subset=['TEAM'])
players.isnull().sum()

PLAYER_ID          0
FIRST_NAME       128
LAST_NAME          0
NATIONALITY        0
DOB               14
TEAM               0
JERSEY_NUMBER    259
POSITION           0
HEIGHT           219
WEIGHT           378
FOOT             408
dtype: int64

Ainda tem dados vazios, todavia não terá impacto nas analises.

Mostrar 4 linhas de managers

In [ ]:
managers.sample(4)

   FIRST_NAME LAST_NAME NATIONALITY        DOB           TEAM
67   Fernando    Torres       Spain 1984-03-20            NaN
16      Paulo   Fonseca    Portugal 1973-03-05      Lille OSC
54   Philippe   Clement     Belgium 1974-03-22      AS Monaco
30       Unai     Emery       Spain 1971-11-03  Villarreal CF

Descobrir a quantidade de linhas e colunas de managers

In [ ]:
linhas, colunas = managers.shape
print(f'O banco de dados possui {linhas} linhas e {colunas} colunas')

O banco de dados possui 78 linhas e 5 colunas

Descobrir os nomes das colunas de managers

In [ ]:
managers.columns

Index(['FIRST_NAME', 'LAST_NAME', 'NATIONALITY', 'DOB', 'TEAM'], dtype='object')

Informações do tipo de dados de cada coluna

In [ ]:
managers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   FIRST_NAME   75 non-null     object
 1   LAST_NAME    78 non-null     object
 2   NATIONALITY  78 non-null     object
 3   DOB          78 non-null     datetime64[ns]
 4   TEAM         73 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 3.2+ KB

Analisar se possui dados duplicados

In [ ]:
managers.duplicated().sum()

0

Analisar se possui dados vazios

In [ ]:
managers.isnull().sum()

FIRST_NAME     3
LAST_NAME      0
NATIONALITY    0
DOB            0
TEAM           5
dtype: int64

Remover os registros onde o time está vazio, já que não serão utilizados dados de treinadores que não estão gerenciando um time.

In [ ]:
managers = managers.dropna(subset=['TEAM'])
managers.isnull().sum()

FIRST_NAME     3
LAST_NAME      0
NATIONALITY    0
DOB            0
TEAM           0
dtype: int64

Ainda existem 3 registros com o primeiro nome vazio, porém, é possível identificá-los pelo sobrenome do treinador

Mostrar 4 linhas de matches

In [ ]:
matches.sample(4)

,MATCH_ID,SEASON,DATE_TIME,HOME_TEAM,AWAY_TEAM,STADIUM,HOME_TEAM_SCORE,AWAY_TEAM_SCORE,PENALTY_SHOOT_OUT,ATTENDANCE
641,mt642,2016-2017,06-DEC-16 07.45.00.000000000 PM,Dinamo Kiev,Beşiktaş,Olimpiyskyi,6,0,0,14036
372,mt373,2018-2019,03-OCT-18 08.00.00.000000000 PM,Atlético Madrid,Club Brugge KV,Wanda Metropolitano,3,1,0,55742
502,mt503,2017-2018,22-NOV-17 05.00.00.000000000 PM,CSKA Moskva,SL Benfica,VEB Arena,2,0,0,27709
156,mt157,2020-2021,25-NOV-20 08.00.00.000000000 PM,Olympique Marseille,FC Porto,Vélodrome,0,2,0,0

Descobrir a quantidade de linhas e colunas de matches

In [ ]:
linhas, colunas = matches.shape
print(f'O banco de dados possui {linhas} linhas e {colunas} colunas')

O banco de dados possui 744 linhas e 10 colunas

Descobrir os nomes das colunas de matches

In [ ]:
matches.columns

Index(['MATCH_ID', 'SEASON', 'DATE_TIME', 'HOME_TEAM', 'AWAY_TEAM', 'STADIUM',
       'HOME_TEAM_SCORE', 'AWAY_TEAM_SCORE', 'PENALTY_SHOOT_OUT',
       'ATTENDANCE'],
      dtype='object')

Informações do tipo de dados de cada coluna

In [ ]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 744 entries, 0 to 743
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MATCH_ID           744 non-null    object
 1   SEASON             744 non-null    object
 2   DATE_TIME          744 non-null    object
 3   HOME_TEAM          744 non-null    object
 4   AWAY_TEAM          744 non-null    object
 5   STADIUM            744 non-null    object
 6   HOME_TEAM_SCORE    744 non-null    int64
 7   AWAY_TEAM_SCORE    744 non-null    int64
 8   PENALTY_SHOOT_OUT  744 non-null    int64
 9   ATTENDANCE         744 non-null    int64
dtypes: int64(4), object(6)
memory usage: 58.3+ KB

Analisar se possui dados duplicados

In [ ]:
matches.duplicated().sum()

0

Analisar se possui dados vazios

In [ ]:
matches.isnull().sum()

MATCH_ID             0
SEASON               0
DATE_TIME            0
HOME_TEAM            0
AWAY_TEAM            0
STADIUM              0
HOME_TEAM_SCORE      0
AWAY_TEAM_SCORE      0
PENALTY_SHOOT_OUT    0
ATTENDANCE           0
dtype: int64

Mostrar 4 linhas de goals

In [ ]:
goals.sample(4)

     GOAL_ID MATCH_ID      PID  DURATION   ASSIST          GOAL_DESC
1547  gl1247    mt412   ply864        67   ply861   left-footed shot
1806  gl1506    mt497  ply2458        20  ply1105  right-footed shot
1285   gl985    mt324   ply767        69   ply766  right-footed shot
543    gl238     mt72    ply87        80  ply1100  right-footed shot

Descobrir a quantidade de linhas e colunas de goals

In [ ]:
linhas, colunas = goals.shape
print(f'O banco de dados possui {linhas} linhas e {colunas} colunas')

O banco de dados possui 2279 linhas e 6 colunas

Descobrir os nomes das colunas de goals

In [ ]:
goals.columns

Index(['GOAL_ID', 'MATCH_ID', 'PID', 'DURATION', 'ASSIST', 'GOAL_DESC'], dtype='object')

Informações do tipo de dados de cada coluna

In [ ]:
goals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2279 entries, 0 to 2278
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   GOAL_ID    2279 non-null   object
 1   MATCH_ID   2279 non-null   object
 2   PID        2176 non-null   object
 3   DURATION   2279 non-null   int64
 4   ASSIST     1605 non-null   object
 5   GOAL_DESC  2263 non-null   object
dtypes: int64(1), object(5)
memory usage: 107.0+ KB

Analisar se possui dados duplicados

In [ ]:
goals.duplicated().sum()

0

Analisar se possui dados vazios

In [ ]:
goals.isnull().sum()

GOAL_ID        0
MATCH_ID       0
PID          103
DURATION       0
ASSIST       674
GOAL_DESC     16
dtype: int64

PID: Não remover os dados vazios pois o não registro do nome do jogador pode ser um gol contra.
ASSIST: vazio pois existem gols que foi jogada individual, sem ter assistência.
GOAL_DESC não altera a analise

Criação no Excel de um arquivo com os logos de cada time e exportar para o Colab

In [ ]:
Team_Logo = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/Projetos GitHub/UEFA Champions League 2016-2022 /TEAM LOGO.xlsx")

Mostrar 5 dados aleatórios.

In [ ]:
Team_Logo.head(4)

  LOGO_ID        TEAM_NAME                                                URL
0   lg001         AC Milan  https://upload.wikimedia.org/wikipedia/commons...
1   lg002         AFC Ajax  https://upload.wikimedia.org/wikipedia/pt/thum...
2   lg003         Atalanta  https://upload.wikimedia.org/wikipedia/en/thum...
3   lg004  Atlético Madrid  https://upload.wikimedia.org/wikipedia/pt/thum...

Após o tratamento dos dados, fazer a exportação para CSV

In [ ]:
teams.to_csv('teams.csv', index=False)
stadiums.to_csv('stadiums.csv', index=False)
players.to_csv('players.csv', index=False)
managers.to_csv('managers.csv', index=False)
matches.to_csv('matches.csv', index=False)
goals.to_csv('goals.csv', index=False)
Team_Logo.to_csv('TEAM_LOGO.csv', index=False)

Importar os dados para o SQL Server e para o Power BI

![image.png]()